{{ if .IsTranslated }}
{{ range .Translations }}
{{ if eq .Site.Language.Lang "lv" }}
  	{{ $imgpath := printf "%s%s" .Site.BaseURL "images/flag-latvia.png" }}
  	<a style="color:rgba(255,255,255,0);" title="Latviski" href="{{ .Permalink }}"><img id="trans-flag" src={{ $imgpath }} width=40rem height=20rem alt="Flag of Latvia" /></a>
{{ else }}
	{{ if eq .Site.Language.Lang "en" }}
        {{ $imgpath := printf "%s%s" .Site.BaseURL "images/flag-england.png" }}
        <a style="color:rgba(255,255,255,0);" title="English" href="{{ .Permalink }}"><img id="trans-flag" src={{ $imgpath }} width=40rem height=20rem alt="Flag of Great Britain" /></a>
{{ end}}
{{ end }}
{{ end }}
{{ end }}

